@keyframes bounceRight {
  0%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(10px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-right {
  animation: bounceRight 0.6s infinite;
}

.spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
