@import "tailwindcss";



/* globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


@keyframes bounceRight {

  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateX(6px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-right {
  animation: bounceRight 1s infinite;
}

.spin-slow {
  animation: spin 10s linear infinite;
}

.group:hover .spin-slow {
  animation: spin 2s linear infinite;
}

.animate-spinslow {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


/* Animation class */
.typewriter-active {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  /* letter-spacing: .15em; */
  animation: typing 3.5s steps(40, end);
}

/* Keep text visible after animation finishes */
.typewriter-done {
  overflow: visible;
  white-space: nowrap;
  width: 100%;
  /* letter-spacing: .15em; */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}


